.App {
  font-family: sans-serif;
  text-align: center;
}
.water {
  background: #91CAFE url('./assets/images/drop.png') no-repeat bottom right!important;
  background-size: 200px 200px !important;
}
.fire {
  background: #FB6C6C url('./assets/images/fire.png') no-repeat bottom right!important;
  background-size: 175px 175px !important;
}
.poison {
  background: #152ecef1 url('./assets/images/poison.png') no-repeat bottom right!important;
  background-size: 175px 175px !important;
}
.grass {
  background: #48D0B0 url('./assets/images/leaf.png') no-repeat bottom right!important;
  background-size: 160px 160px !important;
}
.colorBtn {
  background-color: rgba(255,255,255,0.2)!important;
}
.dark {
  background-color: #455a64!important;
}
.normal {
  background:#b0bec5 url('./assets/images/normal.png') no-repeat bottom right !important;
  background-size: 175px 175px !important;
}
.bug {
  background:#96D47F url('./assets/images/bug.png') no-repeat bottom right !important;
  background-size: 175px 175px !important;
}
.electric {
  background: #FFD86F url('./assets/images/light.png') no-repeat bottom right!important;
  background-size: 160px 160px !important;
}
.flying{
  background-color: #cacfcf!important;
}
.rock{
  background-color: rgba(106, 88, 88, 0.92)!important;
}
.ice {
  background-color: #40c4ff !important;
}
.fairy {
  background-color: #e1bee7 !important;
}
.fighting {
  background:#bcaaa4 url('./assets/images/box.png') no-repeat bottom right !important;
  background-size: 175px 175px !important;
}
.ground {
  background-color: #8d6e63 !important;
}
.dragon {
  background:#e64a19 url('./assets/images/dragon.png') no-repeat bottom right  !important;
  background-size: 175px 175px !important;
}
.steel {
  background-color: #78909c !important;
}
.psychic {
  background:#ffca28 url('./assets/images/psychi.png') no-repeat bottom right !important;
  background-size: 175px 175px !important;
}
.ghost {
  background-color: #607d8b !important;
}
.btn {
  border-radius: 15px !important;
  padding: 4px 10px !important;
  font-size: 0.7rem !important;
}
.m-05 {
  margin: 0.5rem 0.5rem 0 0 !important;
}
.text {
  color: #ffffff !important;
  font-weight: 800 !important;
}
.bg-red{
  background-color: #f10e0e !important;
}
.pd-t {
  padding-top: 1rem;
}
.pd-b {
  padding-bottom: 1rem;
}
.f-size-1 {
  font-size: 1rem;
}
a {
  text-decoration: none !important;
}
.Mui-selected {
  color: #ffffff !important;
  background-color: rgb(241 14 14) !important;
  border-color: black !important;
  border-radius: 15px !important;
  border: double !important;
}
.m-2 {
  margin: 2rem !important;
}

.mb-2{
  margin-bottom: 2rem;
}
.btnCategoria{
  display: flex;
  justify-content: center !important;
}